@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit-sans);
  --font-mono: var(--font-mono);
  --font-heading: var(--font-heading);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(0.9865 0.0029 84.5590);
  --foreground: oklch(0.3040 0.0414 169.4923);
  --card: oklch(0.9725 0.0049 84.5641);
  --card-foreground: oklch(0.3040 0.0414 169.4923);
  --popover: oklch(0.9865 0.0029 84.5590);
  --popover-foreground: oklch(0.3040 0.0414 169.4923);
  --primary: oklch(0.8134 0.1948 122.1528);
  --primary-foreground: oklch(0.2393 0.0298 170.0849);
  --secondary: oklch(0.4759 0.0537 56.5657);
  --secondary-foreground: oklch(0.9865 0.0029 84.5590);
  --muted: oklch(0.9268 0.0059 174.4004);
  --muted-foreground: oklch(0.5365 0.0388 172.2661);
  --accent: oklch(0.9569 0.0407 116.3579);
  --accent-foreground: oklch(0.3654 0.0522 169.1335);
  --destructive: oklch(0.5042 0.1991 28.4139);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8860 0.0131 58.1560);
  --input: oklch(0.9243 0.0087 58.2319);
  --ring: oklch(0.8134 0.1948 122.1528);
  --chart-1: oklch(0.8134 0.1948 122.1528);
  --chart-2: oklch(0.4759 0.0537 56.5657);
  --chart-3: oklch(0.4244 0.0623 168.8930);
  --chart-4: oklch(0.7842 0.0845 84.0377);
  --chart-5: oklch(0.8552 0.1005 117.7935);
  --sidebar: oklch(0.3040 0.0414 169.4923);
  --sidebar-foreground: oklch(0.9865 0.0029 84.5590);
  --sidebar-primary: oklch(0.8134 0.1948 122.1528);
  --sidebar-primary-foreground: oklch(0.2393 0.0298 170.0849);
  --sidebar-accent: oklch(0.3654 0.0522 169.1335);
  --sidebar-accent-foreground: oklch(0.9865 0.0029 84.5590);
  --sidebar-border: oklch(0.4091 0.0492 170.2937);
  --sidebar-ring: oklch(0.8134 0.1948 122.1528);
  --font-sans: Outfit;
  --font-serif: Fraunces;
  --font-mono: monospace;
  --radius: 0.6rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.08;
  --shadow-color: hsl(25, 30%, 10%);
  --shadow-2xs: 0px 4px 12px 0px hsl(25 30% 10% / 0.04);
  --shadow-xs: 0px 4px 12px 0px hsl(25 30% 10% / 0.04);
  --shadow-sm: 0px 4px 12px 0px hsl(25 30% 10% / 0.08), 0px 1px 2px -1px hsl(25 30% 10% / 0.08);
  --shadow: 0px 4px 12px 0px hsl(25 30% 10% / 0.08), 0px 1px 2px -1px hsl(25 30% 10% / 0.08);
  --shadow-md: 0px 4px 12px 0px hsl(25 30% 10% / 0.08), 0px 2px 4px -1px hsl(25 30% 10% / 0.08);
  --shadow-lg: 0px 4px 12px 0px hsl(25 30% 10% / 0.08), 0px 4px 6px -1px hsl(25 30% 10% / 0.08);
  --shadow-xl: 0px 4px 12px 0px hsl(25 30% 10% / 0.08), 0px 8px 10px -1px hsl(25 30% 10% / 0.08);
  --shadow-2xl: 0px 4px 12px 0px hsl(25 30% 10% / 0.20);
  --tracking-normal: -0.01em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2151 0.0274 169.9374);
  --foreground: oklch(0.9648 0.0049 84.5642);
  --card: oklch(0.2698 0.0381 169.2213);
  --card-foreground: oklch(0.9648 0.0049 84.5642);
  --popover: oklch(0.2151 0.0274 169.9374);
  --popover-foreground: oklch(0.9648 0.0049 84.5642);
  --primary: oklch(0.7851 0.1780 120.9309);
  --primary-foreground: oklch(0.1717 0.0190 171.2804);
  --secondary: oklch(0.6115 0.1558 49.1961);
  --secondary-foreground: oklch(0.9648 0.0049 84.5642);
  --muted: oklch(0.3297 0.0377 170.5709);
  --muted-foreground: oklch(0.7760 0.0184 173.8815);
  --accent: oklch(0.3725 0.0854 121.1715);
  --accent-foreground: oklch(0.8994 0.1929 120.4513);
  --destructive: oklch(0.5199 0.1791 26.0647);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.3528 0.0411 170.4761);
  --input: oklch(0.3528 0.0411 170.4761);
  --ring: oklch(0.8803 0.2112 122.2097);
  --chart-1: oklch(0.8803 0.2112 122.2097);
  --chart-2: oklch(0.6174 0.0834 56.0358);
  --chart-3: oklch(0.6436 0.0996 168.4090);
  --chart-4: oklch(0.7054 0.0876 83.6963);
  --chart-5: oklch(0.5617 0.0979 119.0953);
  --sidebar: oklch(0.1886 0.0239 170.2246);
  --sidebar-foreground: oklch(0.8522 0.0120 174.1710);
  --sidebar-primary: oklch(0.8803 0.2112 122.2097);
  --sidebar-primary-foreground: oklch(0.1717 0.0190 171.2804);
  --sidebar-accent: oklch(0.2942 0.0325 170.7479);
  --sidebar-accent-foreground: oklch(0.9648 0.0049 84.5642);
  --sidebar-border: oklch(0.2942 0.0325 170.7479);
  --sidebar-ring: oklch(0.8803 0.2112 122.2097);
  --font-sans: Outfit;
  --font-serif: Fraunces;
  --font-mono: monospace;
  --radius: 0.6rem;
  --shadow-x: 0px;
  --shadow-y: 8px;
  --shadow-blur: 16px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: hsl(0, 0%, 0%);
  --shadow-2xs: 0px 8px 16px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 8px 16px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 8px 16px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0px 8px 16px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 8px 16px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 8px 16px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 8px 16px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 8px 16px 0px hsl(0 0% 0% / 1.00);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans
  }
  h1,h2,h3,h4,h5,h6 {
    @apply font-heading;
  }
}
